.start-90 {
    left: 90%;
}
.card2 {
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    border: none;
    -webkit-box-shadow: 0 1px 7px rgba(0,0,0,.05);
    box-shadow: 0 1px 7px rgba(0,0,0,.05);
}

.card2:hover {
    transform: scale(1.04);
    border: none;
}

.title-text :hover {
    color: #097d6c;
}